.siteHeader {
  background-color: rgb(169, 179, 247);
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


