.wrapper {
  width: 100%;
  position: relative;
  .navButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    background-color: rgb(169, 179, 247);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .next {
    right: 1rem;
    margin-top: 2rem;
  }

  .prev {
    left: 2rem;
    rotate: 180deg;
  }

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
.all_news_section{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-top: 2rem;
  gap:1rem;
  .news_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap:0.5rem;
    .news_card{
      width: 24%;
      display: flex;
    }
  }

}
.heading {
  font-weight: bold;
  margin-left: 0.375rem;
}
