.wrapper {
  width: 100%;
  position: relative;
  .heading {
    font-weight: bold;
    margin-left: 0.375rem;
  }
  .navButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    background-color: rgb(169, 179, 247);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .next {
    right: 1rem; 
    margin-top: 2rem;
  }
  
  .prev {
    left: 2rem; 
    rotate: 180deg;
  }

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}


