.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 8px;
  padding: 1rem;
  background-color: aliceblue;
  .image {
    border-radius: 8px;
  }
}
